*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  height: auto;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: rgb(202, 242, 255);
  border-radius: 12px;
  box-shadow:  2px 2px 20px -4px rgb(205, 204, 200) ;
}

img {
  width: 100%;
  aspect-ratio: 5/5;
}